# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun-debug.log*

# environment variables
.env
.env.production
.env.development
.env.local

# macOS-specific files
.DS_Store
*.swp
*.swo
.vscode/
.idea/
*.iml

# jetbrains setting folder
.idea/

# Biome cache
.biome-cache/

# Tailwind-specific
tailwind.generated.css

# Miscellaneous
*.bak
*.tmp
*.temp
